@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("./components/font.css");

@layer base {
    * {
        @apply font-roboto;
    }
    @import url("./components/sidebar.css");
    @import url("./components/pace.css");
    @import url("./components/video.css");

    * {
        @apply font-roboto;
        scroll-behavior: smooth;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
        /* box-shadow: inset 0 0 5px rgb(219, 219, 219);  */
        border-radius: 5px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #071F43; 
        border-radius: 5px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #092857; 
    }
    input[type=range]::-webkit-slider-thumb {
        @apply border-transparent flex flex-shrink-0 h-3 w-3 rounded-full bg-white;
        -webkit-appearance: none;
    }
    
}
