.video-container {
  @apply relative w-full max-w-[100rem] bg-[#0F346B] bg-blend-hue min-h-[calc(100vh_-_30rem)] xl:min-h-max flex items-center justify-center mx-auto sm:rounded-lg overflow-hidden;
}

.video-container.theater,
.video-container.full-screen {
  @apply max-w-[initial] w-full;
}

.video-container.theater {
  @apply max-h-[calc(100vh_-_10rem)]
}

.video-container.full-screen {
  @apply max-h-screen;
}

video {
  @apply w-full;
}

.video-controls-container {
  @apply absolute bottom-0 left-0 right-0 text-white z-50 opacity-0 transition-all;
}

.video-controls-container::before {
  @apply content-[''] absolute bottom-0 w-full aspect-[6/1] -z-[1] cursor-pointer;
  background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
  @apply opacity-100;
}

.video-controls-container .controls {
  @apply flex gap-2 p-1 items-center;
}

.video-controls-container .controls button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
  opacity: .85;
  transition: opacity 150ms ease-in-out;
  @apply w-auto sm:w-6 h-auto sm:h-8;
}

.video-controls-container .controls button:hover {
  opacity: 1;
}

.video-container.paused .pause-icon {
  display: none;
}

.video-container:not(.paused) .play-icon {
  display: none;
}

.video-container.theater .tall {
  display: none;
}

.video-container:not(.theater) .wide {
  display: none;
}

.video-container.full-screen .open {
  display: none;
}

.video-container:not(.full-screen) .close {
  display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
  display: none;
}

.video-container[data-volume-level="high"] .volume-high-icon {
  display: block;
}

.video-container[data-volume-level="low"] .volume-low-icon {
  display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
  display: block;
}

.volume-container {
  display: flex;
  align-items: center;
}

.volume-slider {
  width: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  accent-color: #3968ad;
  @apply rounded-full bg-[#0F346B] h-1;
  -webkit-appearance: none
}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
  @apply max-w-xs w-full;
  transform: scaleX(1);
}

.duration-container {
  @apply flex items-center flex-grow gap-1;
}

.video-container.captions .captions-btn {
  border-bottom: 3px solid pink;
}

.video-controls-container .controls button.wide-btn {
  @apply w-9 sm:w-12;
}

.timeline-container {
  height: 7px;
  margin-inline: .5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.timeline {
  @apply h-1 bg-slate-800 relative w-full;
}

.timeline::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--preview-position) * 100%);
  background-color: rgb(150, 150, 150);
  display: none;
}

.timeline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: calc(100% - var(--progress-position) * 100%);
  background-color: rgb(15 52 107);
}

.timeline .thumb-indicator {
  --scale: 0;
  position: absolute;
  transform: translateX(-50%) scale(var(--scale));
  height: 200%;
  top: -50%;
  left: calc(var(--progress-position) * 100%);
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 99;
  transition: transform 150ms ease-in-out;
  aspect-ratio: 1 / 1;
}

.timeline .preview-img {
  position: absolute;
  height: 80px;
  aspect-ratio: 16 / 9;
  top: -1rem;
  transform: translate(-50%, -100%);
  left: calc(var(--preview-position) * 100%);
  border-radius: .25rem;
  border: 2px solid white;
  display: none;
}

.thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.video-container.scrubbing .thumbnail-img {
  display: block;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
  display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
  height: 100%;
}